
body {
  font-family: Arial, sans-serif;
  background: #0c0c0c;
  color: white;
  display: flex;
  height: 100vh;
  align-items: center;
  transition: background 0.3s ease, color 0.3s ease;
}
.navbar{
  width: 100%;

}

.form {
  margin-top: 50px;
  background: #1c1c1c;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  transition: background 0.3s ease;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

button {
  background: #ffee00;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}


.hidden {
  display: none;
}

#confirmation {
  margin-top: 15px;
  color: #fbff00;
  font-weight: bold;
}

body.light-mode {
  background: #f4f4f4;
  color: #222;
}

body.light-mode input{
  background: #f4f4f4;
  color: #222;
}

body.light-mode .form {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

body.light-mode #confirmation {
  color: #444;
}
